body {
  margin: 0;
}

#photo {
  height: 400px;
  background-size: 100%;
  border: 1px solid green;
  background-repeat: no-repeat;

  background-image: url("drive_resized.jpg");
}

/* -----MENU*/

.options {
  position: inherit;
  z-index: 2;
  width: 35px;
  height: 35px;
}

#menuToggle {
  color: white;
  position: fixed;
  z-index: 1;
  background: rgba(0, 0, 0, 0.85);
  width: 250px;
  -webkit-user-select: none;
  user-select: none;
}

#table {
  position: relative;
}
/* -----MENU*/
