* {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 400px) {
  .home-rectangle {
    width: 100%;
  }
}

body {
  width: 1300px;
  margin: auto;
  padding: 0%;
  background-image: url("../img/bcg1.png");
  background-color: black;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: "Segoe UI", sans-serif;
}

.whole-contener {
  margin-bottom: 50px;
}

/*------Input photo container*/
.border-p {
  font-weight: bolder;
}

.home-rectangle .description {
  display: block;
  font-size: 100%;
  text-align: center;
  text-transform: inherit;
}

.home-rectangle .upload-photo {
  display: flex;
}

.home-rectangle p {
  color: white;
  display: inline-block;
  font-size: 40px;
  text-transform: uppercase;
  margin-left: 3% !important;
}

.home-rectangle {
  border-style: none;
  text-decoration: none;
  outline: none;
  width: 50%;
  height: 250px;
  padding: 20px;
  background-color: #97969b;
  background: rgba(50, 50, 50, 0.2);
  display: flex;
  margin: auto;
  margin-top: 15%;
  justify-content: center;
  align-items: center;
}

.img-upload {
  width: 15%;
  margin-left: 3%;
  margin-bottom: 3%;
}

.img-upload img {
  width: 90%;
}

#file {
  display: none;
}

label:hover {
  background: rgba(50, 50, 50, 0.3);
}
/* ------------Input photo container */

/*------Uploaded photo container*/
#photo {
  width: 80%;
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  margin: auto;
}

.canvas-photo {
  margin: auto;
  width: 50%;
  height: 350px;
  padding: 20px;
  background-color: rgba(50, 50, 50, 0.2);
  margin-top: 1%;
}

/* ------------Uploaded photo container */

/* -----MENU*/
.options {
  display: flex;
  width: 20px;
  height: 20px;
  float: right;
}

#menuToggle {
  color: white;
  position: inherit;
  z-index: 1;
  /* width: 550px; */
  -webkit-user-select: none;
  user-select: none;
  margin-top: 10px;
  margin-left: 25px;
  /* text-align: center; */
}

form input {
  margin-right: 10px;
}
form {
  width: 150px;
  margin: auto;
}

/* -----MENU*/

/* -----TABLE*/
#table {
  position: relative;
  padding-top: 20px;
  margin: auto;
}

.tabandsett {
  display: flex;
  margin-top: 20px;
  justify-content: center;
}

.tab-name {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: darkseagreen;
  text-transform: uppercase;
  display: inline;
}

.main-tab {
  margin: auto;
  width: 50%;
  padding: 20px;
  background-color: rgba(50, 50, 50, 0.7);
  margin-top: 1%;
  color: white;
}

.first-line-tab {
  color: white;
}

tr td:first-child {
  color: darkseagreen;
  font-weight: bold;
}

tr td + td {
  padding-left: 25px;
}
/* -----TABLE*/

/*------Footer*/
.copy {
  color: #d9d9da;
  font-size: 15px;
  position: fixed;
  bottom: 10px;
  left: 10px;
}
/* ------------Footer */
