* {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 400px) {
  .home-rectangle {
    width: 100%;
  }
}

body {
  width: 1300px;
  margin: auto;
  padding: 0%;
  background-image: url("../img/bcg1.png");
  background-color: black;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: "Segoe UI", sans-serif;
}

.border-p {
  font-weight: bolder;
}

.home-rectangle .description {
  display: block;
  font-size: 100%;
  text-align: center;
  text-transform: inherit;
}

.home-rectangle .upload-photo {
  display: flex;
}

.home-rectangle p {
  color: white;
  display: inline-block;
  font-size: 40px;
  text-transform: uppercase;
  margin-left: 3% !important;
}

.home-rectangle {
  border-style: none;
  text-decoration: none;
  outline: none;
  width: 50%;
  height: 250px;
  padding: 20px;
  background-color: #97969b;
  background: rgba(50, 50, 50, 0.2);
  display: flex;
  margin: auto;
  margin-top: 15%;
  justify-content: center;
  align-items: center;
}

.img-upload {
  width: 15%;
  margin-left: 3%;
  margin-bottom: 3%;
}

.img-upload img {
  width: 90%;
}

/*------Footer*/
.copy {
  color: #d9d9da;
  font-size: 15px;
  position: fixed;
  bottom: 10px;
  left: 10px;
}
/* ------------Footer */

#file {
  display: none;
}

label:hover {
  background: rgba(50, 50, 50, 0.3);
}

#photo {
  width: 80%;
  /* height: 350px; */
  background-size: 100%;
  background-repeat: no-repeat;
  /* background-image: url("drive_resized.jpg"); */
  display: flex;
  margin: auto;
}

.canvas-photo {
  /* visibility: hidden; */
  margin: auto;
  width: 50%;
  height: 350px;
  padding: 20px;
  /* border: 1px solid rgba(50, 50, 50, 0.2); */
  background-color: rgba(50, 50, 50, 0.2);
  margin-top: 1%;
}

.whole-contener {
  margin-bottom: 50px;
}
.tabandsett {
  display: flex;
  margin-top: 20px;
  justify-content: center;
}
.tab-name {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: darkseagreen;
  text-transform: uppercase;
  display: inline;
}
/* .settings-img {
  width: 20px;
  height: 20px;
  margin-top: 10px;
  margin-left: 10px;
  position: inherit;
  z-index: 2;
} */

.main-tab {
  /* visibility: hidden; */
  margin: auto;
  width: 50%;
  padding: 20px;
  background-color: rgba(50, 50, 50, 0.7);
  margin-top: 1%;
  color: white;
}
.first-line-tab {
  color: white;
}

tr td:first-child {
  color: darkseagreen;
  font-weight: bold;
}

/* -----MENU*/

.options {
  display: flex;
  width: 20px;
  height: 20px;
  float: right;
}

#menuToggle {
  color: white;
  position: inherit;
  z-index: 1;
  /* background: rgba(0, 0, 0, 0.85); */
  width: 550px;
  -webkit-user-select: none;
  user-select: none;
  margin-top: 10px;
}

#table {
  position: relative;
}
/* -----MENU*/

table {
  margin-top: 20px;
}
